# Arquivos objeto (compilados)
*.o

# Arquivos Markdown
#*.md

# Diretório de build
build/

# Executáveis
t2
ted

# Arquivos temporários do editor
*~
*.swp
*.swo

# Arquivos de debug
*.dSYM/

# Arquivos de entrada/saída
#*.geo
#*.qry
#*.svg